# Default ignored files
/shelf/
/workspace.xml
../target/


../target/classes/
../target/generated-sources/
../target/generated-test-sources/
../target/maven-archiver/
../target/maven-status/
../target/sonar/
../target/surefire-reports/
../target/test-classes/
../target/jacoco.exec
../target/nfe-3.0.68-SNAPSHOT.jar
